.main__title {
    font-family: 'Nekst';
    font-weight: 900;
    text-align: left;
    font-size: 70px;
    color: #fff; /* Либо такой - rgb(240, 134, 14)*/
    /* padding: 0px 20px; */
    margin: 20px;
}

@media screen and (max-width:1200px) {
    .main__title {
        font-size: 60px;
    }
}

@media screen and (max-width:900px) {
    .main__title {
        font-size: 40px;
    }
}
@media screen and (max-width:705px) {
    .main__title {
        font-size: 40px;
        margin: auto;
    }
}

@media screen and (max-width:400px) {
    .main__title {
        font-size: 30px;
        margin-bottom: 10px;
    }
}