.card {
    font-family: 'Open Sans';
    font-weight: 100;
    border: 2px solid rgb(240, 134, 14);
    height: 620px;
    background-color: transparent;
    border-radius: 25px;
    backdrop-filter: blur(25px);
}

/* .card:hover {
    transform: scale(1.1);
    display: inline-block;
    transition: transform 0.5s ease;
} */
